.container {
    background: black;
    margin: auto;
}

#jsclock {
    color: white;
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 250px;
    padding-bottom: 250px;
}

#color {
    color: goldenrod;
    font-size: 20px;
    outline: none;
    background-color: white;
}