.container {
    background-color: black;
    margin: auto;
}

#jsclock {
    color: white;
    font-size: 200px;
    font-family: sans-serif;
    text-align: center;
    padding-top: 145px;
    padding-bottom: 145px;
}

#color {
    color: goldenrod;
    font-size: 30px;
    outline: none;
}
